{#
/**
 * @file sdv_map.html.twig
 * Default theme implementation to present Map data.
 *
 * This template is used when viewing Map pages.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sdv_map()
 *
 * @ingroup themeable
 */
#}

<div class="gis_ia_base" id="gis_ia_base_{{ node_id }}" urls="{{ urls }}">
  <div class="gis_ia_filters" id="gis_ia_filters_{{ node_id }}"></div>
  <div class="gis_ia_map_holder">
    <div id="gis_ia_map_{{ node_id }}" class="ia_map" parms="{{ parms }}" dwnld="{{ dwnld }}"></div>
  </div>
</div>

<div{{ attributes.addClass('sdv_map') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
